[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
typing-extensions = "*"
example-site-api-types = {editable = true, path = "./python"}

[dev-packages]
sphinx = "*"
furo = "*"
mypy = "*"
black = "*"
build = "*"
twine = "*"

[scripts]
lint = "black ."
lint-check = "black --check ."
test = "mypy tests/test.py"

[requires]
python_version = "3.9"
